/* File:      Component.Types.ts.Template
 * Author:    Gage Sorrell <gsorrell@purdue.edu>
 * Copyright: (c) 2023 Gage Sorrell
 * License:   MIT
 */

export type PComponent = object;

export type SComponent = PComponent & FStyledState & object;
