/* File:      RenderComponent.ts.Template
 * Author:    Gage Sorrell <gsorrell@purdue.edu>
 * Copyright: (c) 2023 Gage Sorrell
 * License:   MIT
 */

import { ReactElement } from "react";
import { type SComponent } from "./";

export const RenderComponent = (State: SComponent): ReactElement =>
{
    return (
        <div>
        </div>
    );
};
