/* File:      UseComponent.Styles.Template.ts
 * Author:    Gage Sorrell <gsorrell@purdue.edu>
 * Copyright: (c) 2023 Gage Sorrell
 * License:   MIT
 */

import { type SComponent } from "./";
import { makeStyles } from "@fluentui/react-components";

const UseStyles: FRootStyles = makeStyles({
    Root:
    {

    }
})

export const UseComponentStyles = (StateUnstyled: TStateUnstyled<SComponent>): SComponent =>
{

};
